.cardStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 270px;
    margin: 1rem;
    padding: 0.7rem;
    background: linear-gradient(145deg, #f0f0f0, #cacacaa0);
    box-shadow: 10px 10px 10px #21c3d85a;
}

.cardStyle #image {
    display: flex;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    width: 100%;
    height: 220px;
}

span {
    color: red;
}

.cardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}